/* header */
.header {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
}

.header__nav:nth-child(3) {
  min-height: 2rem;
  max-width: 50rem;
}

.header__logo {
  border-radius: 150px;
  margin: 10px;
  margin-right: 25px;
}

#name {
  font-family: 'Dancing Script', cursive;
}

body {
  padding: 20px;
}

.topic{margin-left: 50%;
  padding:20px;
}
.blockquote{color:white;
  margin-left: 20%;
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50%;
}
.active {
  display: block;
}
.item{
  width: 100%;
  flex: 0 1 100%;
  object-fit: contain;
}
.slider{
  width:70%;
  max-width:100%;
  height: 500px;
  margin:auto;
  position: relative;
  overflow: hidden;
}
.list{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  display:flex;
  width:max-content;
  transition: 1s ease;
}
.list .inner{
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.buttons{
  position:absolute;
  top: 45%;
  left: 5%;
  width:90%;
  display:flex;
  justify-content:space-between;
}
.buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(28, 105, 105);
  color: #fff;
  border: none;
}
.dots{
  position: absolute;
  bottom:10px;
  color: #0f0e0e;
  left:0;
  width:100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #050404;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}
.dots li.active{
  width: 30px;
}
/*home*/
.home{
  background-image: url(../Images/Home.webp);
  background-size: cover;
  background-position: center;
  height:700px;
  position:relative;
}
/*hobby*/
.hobby{
  background-image: url(../Images/hobby.jpg);
  background-size: cover;
  background-position: center;
  height:700px;
  position:relative;
}

/* places visited*/
.places-visited{
  background-image: url(../Images/Travel.jpg);
  background-size: cover;
  background-position: center;
  height:700px;
  position:relative;
  width:auto;
}

/*books read*/
.books{
  background-image: url(../Images/Books.jpg);
  background-size: cover;
  background-position: center;
  height:700px;
  width:fit-content;
  position:relative;
}

h2 {
  font-family: 'Dosis', sans-serif;
}

li,p,article {
  font-family: 'DM Sans', sans-serif;
  text-align: justify;
}
/*footer*/


/* table */
.table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
  border: 50rem saddlebrown;
}

.table__header,
.table__data {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table__header {
  background-color: antiquewhite;
}

.table__row:nth-child(even) {
  background-color: aliceblue;
}

.bookname-cover {
  display: inline-flex;
  gap: 50px;
}
a {
  text-decoration: none;
  color: black;
}

/* contributions */
.contributions {
  background-image: url(../Images/contibutions.jpg);
    background-size: cover;
    background-position: center;
    height:700px;
    position:relative;
}
.contributions .blockquote{
  color: #050404;
}
#Racdebo {
  margin: 0px;
}

/* media queries */

/* mobile portrait */
@media only screen and (max-width: 480px) {
  
  /* nav */
  .name-logo {
    display: flex;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .slider{
    width:70%;
  }
  /* nav links */
  .nav-links {
    display: none;
    width: 100%;
    flex-direction: row;
  }
  .nav-links__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav-links__item {
    list-style: none;
    text-align: center;
  }
  .nav-links__item a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    display: block;
    margin: 0.5rem;
  }
  .nav-links:active {
    display: flex;
  }
  .nav-links__item:hover {
    background-color: #d5dde3;
  }
  .toggle-button {
    position: absolute;
    top: 4rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .toggle-button__bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  .horse-riding {
    display: flex;
    flex-direction: column-reverse;
  }
  .guitar {
    display: flex;
    flex-direction: column-reverse;
  }
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .social-media {
    display: flex;
  }
  .quicklinks > a {
    display: block;
    color: #333;
    text-decoration: none;
    gap: 2px;
    color: black;
  }
  .social-media > a {
    margin: 10px;
    gap: 50px;
    display: flex;
  }
  .contact-item {
    margin-bottom: 10px;
  }
  .left-for-two {
    display: flex;
    flex-direction: column;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
/* mobile landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* nav */
  .name-logo {
    display: flex;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .slider{
    width:70%;
  }
  /* nav links */
  .nav-links {
    display: none;
    width: 100%;
    flex-direction: row;
  }
  .nav-links__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav-links__item {
    list-style: none;
    text-align: center;
  }
  .nav-links__item a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    display: block;
    margin: 0.5rem;
  }
  .nav-links:active {
    display: flex;
  }
  .nav-links__item:hover {
    background-color: #d5dde3;
  }
  .toggle-button {
    position: absolute;
    top: 4rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .toggle-button__bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  /* content */
  .horse-riding figure {
    float: left;
    margin-right: 10px;
  }

  .guitar figure {
    float: left;
    margin-right: 10px;
  }
  /* places visited */
  .lalibela {
    display: flex;
  }
  .switzerland {
    display: flex;
    flex-direction: row;
  }
  .south-africa {
    display: flex;
  }
  .france {
    display: flex;
  }
  .england {
    display: flex;
    flex-direction: row;
  }
  /* books read */
  .bookname-cover img {
    width: 100px;
    height: 100px;
  }
  .bookname-cover {
    display: flex;
    justify-content: space-around;
  }
  footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    width: 100%;
  }
  .quicklinks > a {
    display: flex;
    flex-direction: column;
    color: #333;
    text-decoration: none;
    gap: 2px;
    color: black;
  }
  .social-media > a {
    display: inline-block;
    margin: 10px;
    gap: 50px;
  }
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* nav links */
  .name-logo {
    display: flex;
  }
  .slider{
    width:70%;
  }
  .nav-links__list {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .nav-links__item {
    list-style: none;
  }
  .nav-links__item a {
    text-decoration: none;
    color: black;
    padding: 2rem;
    display: block;
    margin: 1rem;
  }
  .nav-links__item:hover {
    background-color: #555;
  }
  .toggle-button {
    position: absolute;
    top: 5rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .toggle-button__bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  /* content */
  .skill-background {
    display: flex;
    flex-basis: 50%;
  }
  .quicklinks {
    margin-left: auto;
  }
  .horse-riding {
    display: flex;
    flex-direction: row-reverse;
  }
  .guitar {
    display: flex;
    flex-direction: row;
  }
  /* places visited */
  .lalibela {
    display: flex;
    flex-direction: row;
  }
  .switzerland {
    display: flex;
    flex-direction: row-reverse;
  }
  .south-africa {
    display: flex;
    flex-direction: row-reverse;
  }
  .france {
    display: flex;
    flex-direction: row;
  }
  .england {
    display: flex;
    flex-direction: row;
  }
  /* books read */
  .bookname-cover img {
    width: 100px;
    height: 100px;
  }
  .bookname-cover {
    display: flex;
    justify-content: space-around;
  }
  #Atomic_habit {
    flex-direction: row-reverse;
  }
  #lela_sew {
    flex-direction: row-reverse;
  }
  /* footer */
  .social-media {
    display: flex;
    flex-direction: column;
    margin: 2em;
  }
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    display: flex;
    margin: 2px;
    width: 100%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .left-for-two {
    display: flex;
    justify-content: space-between;
  }
}
/* desktop */
@media (min-width: 1024px) {
  /* nav links */
  .name-logo {
    display: flex;
  }
  .slider{
    width:70%;
  }
  .nav-links__list {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .nav-links__item {
    list-style: none;
  }
  .nav-links__item a {
    text-decoration: none;
    color: black;
    padding: 2rem;
    display: block;
    margin: 1rem;
  }
  .nav-links__item:hover {
    background-color: #555;
  }
  .toggle-button {
    position: absolute;
    top: 5rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .toggle-button__bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  .horse-riding {
    display: flex;
    flex-direction: row-reverse;
  }
  .guitar {
    display: flex;
    flex-direction: row;
  }
  .lalibela {
    display: flex;
    flex-direction: row;
  }
  .switzerland {
    display: flex;
    flex-direction: row-reverse;
  }
  .south-africa {
    display: flex;
    flex-direction: row-reverse;
  }
  .france {
    display: flex;
    flex-direction: row;
  }
  .england {
    display: flex;
    flex-direction: row;
  }
  /* books read */
  .bookname-cover img {
    width: 100px;
    height: 100px;
  }
  .bookname-cover {
    display: flex;
    justify-content: space-around;
  }
  #Atomic_habit {
    flex-direction: row-reverse;
  }
  #lela_sew {
    flex-direction: row-reverse;
  }
  /* contributions */
  .rac-debo {
    display: flex;
  }
  .talent-search {
    display: flex;
  }
  /* footer */
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-around;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .left-for-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social-media {
    display: flex;
    flex-direction: row;
    margin-left: 75px;
    margin-top: 20px;
  }
  .icons1,
  .icons2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 15px;
  }
  /* content */
  .skill-background {
    display: flex;
    flex-basis: 50%;
  }
  
}

.active {
  display: block;
}
